* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*El contenedor ocupa el total de la pantalla*/
.container {
  height: 100vh;
  width: 100%;
  padding: 16px;
  background-color: whitesmoke;
}

/*El navegador ocupa hasta 1280 pixeles de ancho, sus elementos centrados verticalmente
  y separados de punta a punta. Además, centrado en su padre "container"*/
.navigator {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
  border: 1px solid black;
}

.navigator > h1 {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

/* 
  ENUNCIADO:
  El objetivo de este ejercicio es conseguir un resultado lo más similar posible al existente en el directorio
  "Solución" en cuanto a funcionalidad. Tenes que lograr que al hacer click un menu desplegable se abra, y se cierre
  respectivamente.
  Al finalizar te recomiendo que compares los codigos para comprender mejor, el CSS de la solución explica en comentarios
  el porque de todos los estilos importantes.
  */

.navigator input[type="checkbox"] {
  display: none;
}

.dropdown {
  /* background-color: red; */
}

.dropdown > li {
  /* background-color: blue; */
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown,
.dropdown_menu {
  list-style: none;
}

.dropdown_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transform: scale(0); */
}

.dropdown_menu li {
  transition: background-color 0.7s;
  /* transition: color 2s; */
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.dropdown_menu li:hover {
  background-color: black;
  color: white;
}
